@charset "utf-8";
/* CSS BY SANEESH (PHITANY BUISNESS SOLUTIONS) */

/*Google Fonts*/

@import url(http://fonts.googleapis.com/css?family=Lustria);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Italianno);

/*Font Face*/

@font-face
{
	font-family:CASTELAR;
	src:url(../fonts/CASTELAR.TTF);
}

.scrollup
{
   width:45px;
   height:55px;
   position:fixed;
   bottom:10px;
   right:10px;
   display:none;
   text-indent:-9999px;
   z-index:99999;
   background:url(../images/anchor.png) no-repeat;
}

.scrollup:focus
{
	outline:none;
}

.reset
{
	clear:both;
}

body
{
	font-family: 'Lato', sans-serif !important;
	color:#1f1f26 !important;
	font-size:17px !important;
	overflow:hidden;
	overflow-y:scroll;
}

h1, h2, h3, h4, h5, h6 
{
	margin:0;
	padding:0;
	font-family: 'Lustria', serif !important;
}

p
{
	line-height:22px !important;
	margin-top:15px !important;
}

a
{
	text-decoration:none !important;
	color:#979797 !important;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
}

a:hover
{
	text-decoration:none !important;
	color:#fff !important;
}

.p0
{
	padding:0 !important;
}

.m0
{
	margin:0 !important;
}

.fl
{
	float:left;
}

.fr
{
	float:right;
}



.social-icon
{
	width:20px;
	height:20px;
	text-align:center;
	float: right;
	margin:40px 0 0 10px;
}

.social-icon .fa
{
	color:#003399;
	font-size:15px;
}

.intro
{
	width:100%;
	height:560px;
	margin-top:15px;
}

.bg
{
	background:url(../images/bg.jpg) center no-repeat;
	background-size:cover;
	height:555px;
	width:100%;
	border-bottom:#bfbfbf 1px solid;
}

h2
{
	font-size:2em;
}

.m100
{
	margin-top:100px;
}

.pic
{
	width:100%;
	height:450px;
}

.pic img
{
	width:100%;
}

.view
{
	display:block;
	padding:0 20px;
	height:50px;
	line-height:47px;
	text-align:center;
	border-radius:3px;
	background:#1f1f26;
	font-family: 'Lustria', serif !important;
	border:#1f1f26 2px solid;
	color:white;
	font-size:20px;
	float:left;
	margin:20px 0;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
}

.view:hover
{
	background:none;
	border:#1f1f26 2px solid;
	color:#1f1f26;
}

.news-bg
{
	width:100%;
	height:500px;
	background:url(../images/news.jpg) left no-repeat #eae8c2;
	/*padding:150px 50px 50px 110px;*/
	padding:150px 75px;
	margin:0 auto;
}

h3
{
	font-size:2em;
}

.test-bg
{
	width:100%;
	height:500px;
	background:url(../images/test.jpg) center center no-repeat;
	background-size:cover;
	padding:150px 85px 0 85px;
}

.form
{
	width:100%;
	min-height:440px;
	background:url(../images/blur.jpg) no-repeat;
	background-size:cover;
}

.form-inbox
{
	width:89%;
	margin:25px 0 0 25px;
}

.m50
{
	margin-top:50px;
}

.event-detail
{
	width:90%;
}

.p50
{
	padding-bottom:50px;
}

.event-detail .fa
{
	margin-right:10px;
}

.event-date
{
	width:100%;
}

h4
{
	font-size:1.5em;
}

.field
{
	width:100%;
	height:50px;
	line-height:50px;
	background:#fff;
	float:left;
	margin-top:10px;
	padding-left:10px;
	font-size:15px;
	border:#ccc 1px solid;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
}

.field:focus
{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3) !important;
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3) !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3) !important;
	outline:none;
}

.area
{
	width:100%;
	height:100px;
	background:#fff;
	float:left;
	margin:10px 0 0 0;
	padding:10px;
	font-size:15px;
	border:#ccc 1px solid;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
}

.area:focus
{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3) !important;
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3) !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3) !important;
	outline:none;
}

.button
{
	width:150px;
	background:#217de5;
	border:#217de5 2px solid;
	text-align:center;
	line-height:50px;
	height:50px;
	margin:10px 0 0 0;
	color:white;
}

.m15
{
	margin-top:15px;
}

.footer
{
	background:#207de5;
	padding:25px 0;
	color:white;
	font-size:14px;
}

.tr
{
	text-align:right;
}

.footer a
{
	color:white !important;
}

.footer a:hover
{
	color:#1f1f27 !important;
	text-decoration:underline !important;
}

.bg-1
{
	width:100%;
	background:url(../images/bg-1.jpg) no-repeat fixed;
	background-size:cover;
	
	margin-top:15px;
}

.gradient
{
	background: #e9f6fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9f6fd 0%, #d3eefb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9f6fd), color-stop(100%,#d3eefb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e9f6fd 0%,#d3eefb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e9f6fd 0%,#d3eefb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-9 */
	padding:0 !important;
}

.accordian-box
{
	width:100%;
	border-bottom:#ddd 1px solid;
	padding:15px 0;
	background:white;
	font-size: 0.9em;
    color: black;
}

.accordian-box a
{
	text-decoration:underline;
	color:black;
}

.accordian-box a:hover
{
	text-decoration:none;
	color:black;
}

.head-1
{
	font-family: 'Italianno', cursive;
	font-size:11.5em;
	color:white;
	text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.head-2
{
	font-family:CASTELAR;
	font-size:3.2em;
	color:white;
	margin-top:-100px;
	padding-bottom:50px;
}

.align
{
	padding-left:450px;
}

.testimonial
{
	width:100%;
	height:450px;
	background:url(../images/testimonial.jpg) fixed center;
	background-size:cover;
}

.head-3
{
	width:100%;
	font-family: 'Italianno', cursive;
	font-size:5em;
	color:white;
	text-align:center;
	margin:50px 0;
	float:left;
}

.testimonial p
{
	color:white !important;
}

.testimonial small
{
	color:#cbdcff !important;
}

.enquire
{
	border:#1f1f26 2px solid;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	height:45px;
	line-height:40px;
	font-size:15px;
	float:left;
	background:none;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
}

.enquire:hover
{
	background:#1f1f26;
	color:white;
}

.contact-address
{
	width:100%;
	float:left;
	margin-top:100px;
}

.contact-address p
{
	line-height:25px !important;
}

.contact-address .fa
{
	color:#003399;
	font-size:1.5em;
	float:left;
	margin-right:10px;
}

h5
{
	color:#003399;
	font-size:1.5em;
}

.social
{
	width:100%;
	margin-top:20px;
}

.hexagon {
  position: relative;
  width: 50px; 
  height: 28.87px;
  background-color: #217de5;
  margin: 14.43px 0;
}

.hexagon .fa
{
	color:white;
	margin:2px 0 0 0;
	width:100%;
	text-align:center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  left:0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid #217de5;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #217de5;
}

.ml-10
{
	margin-left:10px;
}

/*Menu Css*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 10px 0 0 6px;
  padding: 0;
  border: 0;
  list-style: none;
  color:black !important;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index:9999;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul {
  background: #fff;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
  color: #dff2fa !important;
  background: #003399;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #dff2fa;
  background: #003399;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #003399;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #3db2e1;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #dff2fa;
  border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #dff2fa;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 560px;
}
.fade-carousel .carousel-inner .item {
    height: 560px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #003399;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
	text-transform:capitalize;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #003399;
    opacity: .2;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #fff;
    background-color: #003399;
    border-color: #fff;
    outline: none;
    margin: 20px auto;
	border-radius:3px  !important;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image:url(../images/slide-1.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image:url(../images/slide-2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image:url(../images/slide-3.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image:url(../images/slide-4.jpg);
}

/* quote carousel */
#quote-carousel 
{
  padding: 0 0 30px 0;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -30px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px)
{
    .hero { width: 980px; }    
}
@media screen and (max-width: 414px)
{
    .hero h1 { font-size: 2.2em; }    
	
	h2
	{
		font-size:1.6em !important;
	}

}
@media only screen and (max-width: 991px)
{
	#cssmenu,
	#cssmenu ul,
	#cssmenu ul li,
	#cssmenu ul li a,
	#cssmenu #menu-button
	{
		margin:10px 0 0 0 !important;
	}
	
	body
	{
		font-size:15px !important;
	}
	
	.m100
	{
		margin-top:50px;
	}
	
	.pic
	{
		display:none;
	}
}

@media only screen and (max-width: 1199px)
{
	
	.align
	{
		padding-left:288px;
	}
}

@media only screen and (max-width: 991px)
{
	.align
	{
		padding-left:147px;
	}
}

@media only screen and (max-width: 749px)
{
	.align
	{
		padding-left:60px;
	}
	
	.head-1
	{
		font-size:6.5em;
	}
	
	.head-2
	{
		font-size: 1.7em;
    	margin-top: -50px;
	}
}

@media only screen and (max-width: 394px)
{
	.align
	{
		padding-left:35px;
		padding-top:70px
	}
	
	.head-1
	{
		font-size:5em;
	}
	
	.head-2
	{
		font-size: 1.3em;
    	margin-top: -40px;
	}
}
